# Extra git aliases (many are set from git oh-my-zsh plugin)
alias gpfwl="git push --force-with-lease"

# go-task
alias t="go-task"

# some python dev aliases
alias rl="run_linters"
alias pt="pytest"
alias rlt="figlet 'run_linters' ; run_linters ; figlet 'pytest' ; pytest"
alias ruff_fix="ruff check . --config linting/.ruff.toml --fix"
alias b="black ."
