[init]
  defaultBranch = main
[pull]
  rebase = true

[includeIf "gitdir:~/Repos/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Repos/reel/"]
  path = ~/.gitconfig-reel
