[init]
  defaultBranch = main
[pull]
  rebase = true

[includeIf "gitdir:~/Repos/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Repos/green-ai/"]
  path = ~/.gitconfig-green-ai
