[init]
  defaultBranch = main
[pull]
  rebase = true

[includeIf "gitdir:~/repos/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/repos/reel/"]
  path = ~/.gitconfig-reel
